# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Google Credentials
credentials.json
sessions/
*.json

# Data & Logs
logs/
cache/
downloaded_files/
*.xlsx
*.csv

# Personal data
resume.pdf
*.pdf

# IDE
.vscode/
.idea/
